/** @format */

.Basketitemscon {
  color: black;
  display: flex;
  flex-direction: column;
  width: 95%;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
.details2 {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}
.rightd{
  padding-left: 10px;
}
}
@media only screen and (max-width: 767px){
  .details2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rightd{
  padding-left:0;
}
}

.Basketitemscon:hover {
  background-color: white;
}

.leftd {
  border: 1px solid gray;
  min-width: 90px;
  max-width: 90px;
  height: auto;
  display: flex;

  justify-content: center;
  align-items: center;
}
.leftd > img {
  width: 90%;
  height: 90%;
}
.rightd {
  position: relative;
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.pricequan {
  display: flex;
}
.q {
  margin-left: 70px;
}
.trash {
  align-self: flex-end;
}
