@media only screen and (max-width:1000px){
.productdetails2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.Productinfo{
    white-space: nowrap;
    object-fit: scale-down;
    background: url(https://ir.ebaystatic.com/pictures/aw/pics/cmp/ds3/imgbg.jpg) repeat 0 0 #f8f8f8;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}
.Productinfocon>iframe{
    display: none;
}
}@media only screen and (min-width:1001px){
.productdetails2{
    display: flex;
    margin-top: 30px;
}
.Productinfo{
    background: url(https://ir.ebaystatic.com/pictures/aw/pics/cmp/ds3/imgbg.jpg) repeat 0 0 #f8f8f8;
    display: flex;
    height: 100%;
    
}
.Productinfocon>iframe{
    width: 728px;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    object-fit: none;
    margin-top: 30px;
    
}
}

.Productinfocon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.img__info{
    background-color: white;
    border: 1px solid gainsboro;
    padding: 15px;
    width: 500px;    
    height: 500px;
    object-fit: contain;
}
.rightside{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    justify-content: flex-start;
    
    padding-bottom: 2px;
    
}
.toppart{
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: nowrap;
    word-wrap: nowrap;
    
    
}
.rightside>span{
    font-size: 13px;

}
.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
    
}
.rating>p{
    color: red;
    font-weight: bold;
}
.rating>span{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.rating>a{
    color: blue;
    text-decoration: none;
    font-size: 12px;
    
}
.rating>a:hover{
    text-decoration: underline;
}
.bottompart{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 15px;
    font-weight: normal;
    
    
}
.prop{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    
    
}

.prop>input{
    max-width: 5%;
}

.prop>a{
    color: red;
    
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
