@media only screen and (max-width: 900px) {
    .regtitle{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        padding: 0%;
        margin: 0%;

    }
    .regform{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

    .regcon hr{
        display: none;
    }
    .regcon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 901px) {
.regtitle{
    width: 100%;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 500px;
    grid-template-areas: 'form regright';
    justify-items: center;
    border-bottom: 1px solid black;
}
.regform{
    
    grid-area: form;
    height: auto;
    padding-top: 80px;
}
}

.reghead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.logo2{
    max-width:117px;
    max-height: auto;
}

.regcon>h1{
   display: flex;
   
   justify-content: center;
}

.regrowl,.regrowr,.regemail,.regpass{
    position: relative;
    
}

.regform input{
    border-top: none;
    border-right: none;
    border-left: none;
    justify-self: stretch;
    border-bottom: solid 1px black;
    
    
}
.in:valid~.la,.regpass>.in:valid~label.la{
    
    font-size: 11px;
   bottom: 20px;
    
}
.la{
   transition: .2s ease all;
    position: absolute;
    right: 1px; 
    bottom: 2px;
    width: 100%;
   pointer-events: none;
   color: gray;
   font-size: 16px;
   
    
}
 .regform input:focus{
     outline: none;
     border-bottom: solid 2px blue;
 }
.regleft{
    display: flex;
    flex-direction: column;
    height: auto;
    
    width: 400px;
    align-items: center;
}
.regleft>*{
    margin:40px 0px 0px 0px
}
.regright{
    grid-area: regright;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    height: auto;
   
}
.regright>*{
    margin-bottom: 20px;
    object-fit: scale-down;
}
.regrow{
    display: flex; 
    
    flex:1
}
.regrow>*{
    margin-right: 10px;
}
.regemail,.regpass{
    display: flex;
    width: 310px;
}
.regemail>input,.regpass>input.in{
    flex: 1;
    width: 330px;
}
.check{
    position: absolute;
    left: 70%;
    bottom: 5px;
    display: flex;
    align-items: center;
}
.createacc{
    width:300px;
    height: 58px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;

}
.createacc:hover{
     background-color: rgb(7, 7, 148);
}
.toc{
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    width: 300px;
    height: 54px;    
}
.googlelogo{
    width: auto;
    object-fit: scale-down;
    height: 25px;
}
.google{
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    object-fit: scale-down;
    justify-content: space-evenly;
    border: 1px solid black;
    min-width: 100%;
    height: 48px;
    align-items: center;
    
    background-color: white;
}

.google p{
    
    font-size: 16px;
    font-weight: bold;
}
